*monkeytype.sqlite3
*.h5
*ipynb_checkpoint*
__pycache__/
*.pyc
*.pyo
*.pyd
*.json
*.csv
.DS_Store
web/node_modules/*
node_modules/*
web/static/assets/fonts/*
!web/static/assets/table/*.csv
!web/static/assets/img/*.jpg
pitchProphet/scripts/date_matchweek.py
pitchProphet/utils/match_week_utils.py
!pitchProphet/pitchProphet/data/match_dates/*.csv
logs/*